# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
*.egg-info/
dist/
build/

# ChromaDB
chroma_db/
data/chroma_index/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
 
# data
data/chroma_input.jsonl

data/ExportFile_COMP237_.zip
